<!--
  To change this template, choose Tools | Templates
  and open the template in the editor.
-->

<div id="menu-div">
    <ul class="main-menu">
    	#foreach( $key in $sources.keySet() )
    		<li><g:link class="unselected" url="[action:'list',controller:'$key']"><g:img dir="images/skin" file="$sources.get($key)" width="16" height="16"/> $key</g:link></li>
		#end	
    </ul>
</div>
