@import "functions.less";
@import "variables.less";

#Pictures {
    text-align: center;

    .Picturesimage {
        width: 100%;
        height: 100%;
    }
    img {
        height: 100%;
        max-width: 100%;
    }
    
    div.picturesDescription{
        /* position: relative;
         width: 100%;
         margin-top: 0.5em;
         text-align: center;
         font-size: 80%;
         margin-bottom:0.5em;*/

        position:absolute;
        bottom:15px;
        left:0;
        width:98%;
        .legendeImage
    }
}
