@import "../less/functions.less";
@import "../less/variables.less";


#${zoneName} {
    font-size: 100%;
    height: 76%;
    width: 28%;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 12%;
}


#${zoneName} .title{
	display:none;
}
