@import "functions.less";
@import "variables.less";

.scrollContentLeft {
    margin-left: 10px;
    margin-right: 10px;
    height: 90%;
    color: #ffffff;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
}
.scrollContentLeft span {
    line-height: 135%;
}
.scrollContent {
    font-size: 120%;
    white-space: nowrap;
    display: inline-block;
    line-height: 135%;
    height: 100%;
}
.scrollContent img {
    max-height: 100%;
}