<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />		

        <title>YourCast Irsam</title>
        <link rel="stylesheet" type="text/css" href="style.css">

        <script type="text/javascript" src="js/libs/prototype.js"></script>
        <script type="text/javascript" src="js/utils.js"></script>
        <script type="text/javascript" src="js/date.js"></script>
        <script type="text/javascript" src="js/controler.js"></script>

        $zoneScripts

    </head>

    <body onload="$onLoadContent; init_date();" class="attente">

        <div style="display: none;" id="date_time"></div>

        $layoutBody

        <div id="logo_loading">
            <div id="logo">
                <img id="loading_img" src="./img/yc_loading.gif" />
            </div>
            <div id="progress">
                <p>Chargement ...</p>
                <progress id="chargement" value="0" max="100"></progress>
            </div>
        </div>
    </body>
</html>
