body 
{    
    background-color:#999999;
} 

table.principal
{
    width:100%;
    
}

table.menu-source
{
    
    background-color:white;
    font: 12px Verdana;
    color: red;
}

table.content
{
    border:2px solid black;
    background-color:whitesmoke;
    font: 12px Verdana;
    color: black;
    width:100%;
    
}

tr.content-title
{
     
     background-color:#99ccff;
     font-weight:bold;
     font: 15px Verdana;
     color: black;
     vertical-align: middle;
}

td.content-cell
{
    border:1px solid black;
    text-align:center
}

td.content-cell-action
{
    border:1px solid black;
    text-align:center
}

body
{
    font: 12px Verdana;
}

p.message
{
    font: 15px Verdana;
}

.error-message
{
    font: 20px Verdana;
    color: red;
}

.basic-label
{
    font: 13px Verdana;
    font-weight:bold;
    vertical-align: middle;
    text-align:right
}

.basic-url
{
    font: 8px Verdana;
    vertical-align: middle;
    text-align:right
}

.response-message
{
     font: 20px Verdana;
     color:blue;
     center:right
}

#menu-div {
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

.main-menu {
font-size:1em;
margin:0;
padding:0;
}



.unselected {
 padding: 3px 0.5em;
 padding-top: 5px;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

.selected {
 padding: 3px 0.5em;
 padding-top: 5px;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: crimson;
 text-decoration: none;
}

.main-menu a:hover {
 color: #000;
 background: #AAE;
 border-color: #227;
}

.main-menu li {
 list-style: none;
 margin: 0;
 display: inline;
}

#container {
 padding:5px;
 border:1px solid #333300;
 border-top:0;
 background-color:white; 
 height:100%;

}