/*******************************************************************************
* Copyright (c) 2012 Simon Urli.
* All rights reserved. This program and the accompanying materials
* are made available under the terms of the GNU Public License v3.0
* which accompanies this distribution, and is available at
* http://www.gnu.org/licenses/gpl.html
*
* Contributors:
*     Simon Urli (simon.urli@gmail.com) - initial API and implementation
******************************************************************************/

#foreach($rendererFile in $renderers)
loadScript(RENDERER_PATH+"/$rendererFile");
#end
loadScript(BEHAVIOUR_PATH+"/$behaviorFile");

init_$zoneName = function() {
	var id = "$zoneName";
	var map = {$callIdRendererMap}; 
	var map_time = {$callIdTimeMap};
	var url = '/$providerPath/rest/';
	var anim_func = new $behaviorFunction();
	var request_timeout = $requestTimeout;
	//var url_client_personalizer = $personalizerName/client;
	try {
		var z1 = new Zone(id, map, map_time, url, anim_func, request_timeout);
		z1.request();
		ControlerGeneral.getInstance.push(z1);
		return z1;
	} catch(exception) {}
};

