div#conteneurAls {
	display: table;
	width: 0;
	height: 0;
	overflow: hidden;
}

div#conteneurAls  #alerte, div#conteneurAls  #alarme {
	display: none;
}

div#conteneurAls  #alerte.active , div#conteneurAls  #alarme.active{
	display:table;

	position: absolute;
	top:1.5%;
	left:1.5%;
	right:0;
	bottom:0;
	text-transform: uppercase;
	
	text-align: center;
	
	font-size: 72px;
	
	color: red;
	background: rgba(128,128,128,0.5);
	width: 95%;
	height: 95%;
	
	padding: 30px;
}

div#conteneurAls  #alerte.active  > div, div#conteneurAls  #alarme.active > div{
	display:table-cell;
	vertical-align: middle;
	
	text-decoration: blink;
	

	background: #FFCCCC;
}


div#conteneurAls  #alerte.active{	
	z-index : 100;
}

div#conteneurAls  #alerte.alarme{	
	z-index : 50;
}