@import "functions.less";
@import "variables.less";

.scrollContentEachLogoLeft{
    height:90%;
    color:@white;
    overflow:hidden;
    span{
        line-height:135%;
    }
    position:relative;
    background-color: rgba(22, 22, 22, 0.8);
}


.scrollContent{
    font-size:120%;
    white-space: nowrap;
    display: inline-block;
    line-height:135%;
    height:100%;
}
