@import "../less/functions.less";
@import "../less/variables.less";

#$zoneName {    
    font-size:100%;
    position: absolute;
    /*height : 600px;*/
    right : 5%;
    left: 5%;
    top: 15%;
    bottom : 15%;
    padding-right: 50px;
    .zone1Background;
    -moz-box-shadow: 4px 4px 12px #555;
    -webkit-box-shadow: 4px 4px 12px #555;
    box-shadow: 4px 4px 12px #555;
}

.logo{
	img {
	    position : relative;
	    margin-left: 5%;
	    top: -55px;
	    width:132px;
	    height:115px;
	    z-index : 5;
	    background : transparent no-repeat;
	}
}

.title {
    position : relative;
    top: -125px;
    color: @baseBlueFont;
    font-weight:normal;
	font-size:130%
}

.main_div_$zoneName {
	position: absolute;
	top: 0.5em;
	left: 0;
	right: 0;
	bottom: 0;
}