@import "../less/functions.less";
@import "../less/variables.less";

#${zoneName} {    
    width : 81%;
    float:left;
    height: 12%;
    background:none;
    clear:right;
    margin-bottom:0%;
    color:#ffffff;
    position:relative;
}
