<div class="hero-unit">
    <tabs></tabs>
    <!--<div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">SERVICES </a>
           <ul class="nav">      // <img ng-src="{{tab.logo}}" width="20" height="30"/>
               <li class="divider-vertical"><a href="#/tab/twitter"> Twitter <img src="http://nickbaines.files.wordpress.com/2009/10/twitter-logo-1.jpg" width="40" height="50"/></a></li>
           </ul>
           <ul class="nav nav-tabs" ng-repeat="tab in tabs">
                <li><a href="#/tab/{{tab}}">{{tab}}</a></li>
            </ul>
        </div>
    </div> -->
</div>