<div class="hero-unit" xmlns="http://www.w3.org/1999/html">
    <tabs></tabs>
    
    <p></p>
    <div>
        <span><a class="btn btn-large" href="#/tab/{{tab}}"><i class="icon-bold icon-hand-left"></i>Retour</a>
        <span ng-show="hasOtherZone()"><select ng-model="myZone" ng-options="element for element in getOtherZones()" ng-checked="changeZone(myZone)"></select>Changer de zone</span></span>
    </div>
    <div style="text-align: center"><h3><b> Zone : '{{zone}}'</b></h3></div>
</div>
<div>
    <div ng-repeat="call in calls"> <!-- TODO use calls will set to calls[callID] = callOfCallID -->
    <table class="table table-bordered">
        <caption> <h3 style="text-align: center">{{call.callID}}</h3>
          <div style="text-align: right"> <button class="btn" ng-click="addNewCall(call.callID)"><i class="icon-plus"></i> Ajouter un appel</button></div>
        </caption>
        <tr>
            <th ng-repeat="param in call.params">{{param.humanName}}</th> <!-- TODO use call's properties instead of param's -->
            <th> Action</th>
        </tr>
        <tr>
            <td ng-repeat="par in call.params">{{par.type}}, {{par.id}}</td>
            <td><button class="btn btn-small" ng-click="removeCall(call.callID)"> <i class="icon-trash"></i>Supprimer</button> <button class="btn btn-small" ng-click="editCall(call.callID)"><i class="icon-pencil"></i> Modifier</button></td>
        </tr>
    </table>
        
    </div>
</div>