
#${zoneName} {
    font-size:          10vh;
    position:           absolute;
    top:                0px;
    left:               0px;
    width:              100%;
    background-color:   transparent;
}
#${zoneName} #${zoneName}_logo {
    position :          absolute;
    left:               1%;
    top:                2%;
    height:             16%;
    background :        transparent no-repeat;
    img {
    	height:         100%;
    }
}
#${zoneName} #${zoneName}_title {
    font-size:          17vh;
    position:           absolute;
    top:                0px;
    left:               0px;
    height:             20%;
    font-weight:        bold;
    width:              100%;
    text-align:         center;
    border-bottom:      14px red solid;
}
#${zoneName} #${zoneName}_content {
    position:           absolute;
    width:              90%;
    height:             75%;
    bottom:             0px;
    left:               5%;
    font-size:          13vh;
}