@import "../less/functions.less";
@import "../less/variables.less";

#${zoneName} {    
    position:relative;
    font-size:100%;
    /*margin-top: 1%;    */
    height : 76%;
    width : 65%;
    padding-left: 5%;
    .zone1Background;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
    overflow:hidden;
}