@import "../less/functions.less";
@import "../less/variables.less";

#${zoneName} {
    height:10%;
    margin-top:1%;
    overflow:hidden;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
    position:relative;
}