<div class="navbar">
    <div class="navbar-inner">
        <a ng-class="isClientActive()" ng-show="showClient" class="brand" href="#/client">Client</a>
        <ul class="nav" ng-repeat="tab in tabs">
            <li ng-class="isActive(tab)"><a href="#/tab/{{tab}}" ng-click="activate(tab)">{{tab}}</a></li>
           <!-- <li ng-show="showClient" ng-class="isActive(client)"><a href="#/client" ng-click="activate(client)"> Client </a></li> -->
        </ul>
    </div>
    <div style="text-align: right">
        <button class="btn btn-inverse" ng-click="logout()"> <i class="icon-signout icon-white"></i> Se déconnecter </button>
    </div>
</div>