<div>
<div class="hero-unit" xmlns="http://www.w3.org/1999/html">
    <tabs></tabs>
    
    <p></p>
    <div style="text-align: left"> <button class="btn" ng-click="openAddNewCallModal()"><i class="icon-plus"></i> Ajouter un appel</button></div>

</div>
<div>
   <div ng-repeat="zone in zones" style="border-radius: 2px; padding: 5px; background-color: #F2F2F2; border-style: solid solid none solid; border-color: dodgerblue">
        <h3 style="text-align: left"> {{zone}}</h3>
       <div ng-repeat="call in calls[zone]">

           <table class="table table-striped table-bordered">

               <caption> <h3 style="text-align: center">Liste des appels avec l'identifiant {{call.callID}}</h3>

               </caption>

               <tr>

                   <th>Call identifiant</th>

                   <th ng-repeat="row in getRowParams(zone, call.callID) | orderBy: 'nameInDB'">{{row.humanName}}</th>

                   <th>Action</th>

               </tr>


               <tr ng-repeat="parameter in call.parameters | orderBy: 'id'">

                   <td>{{parameter.id}}</td>

                   <td ng-repeat="(key, value) in sortValuesByID(parametersValuesByCall[parameter.id]) | orderBy: key "> {{value}}</td>

                   <td><button class="btn btn-small" ng-click="removeCall(call.callID, parameter.id)"> <i class="icon-trash"></i>Supprimer</button> <button class="btn btn-small" ng-click="openEditCallModal(zone, call.callID, parameter.id)"><i class="icon-pencil"></i> Modifier</button></td>

               </tr>

            </table>

           

    </div>
      
    </div>
</div>


    <!-- Modal opened to add new Call -->
    <div>
        <div modal="addNewCallModal" options="options">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelAddNewCall()">×</button>
                <h4 ng-show="showSelectZone" style="text-align: center"> Ajout d'un nouveau appel </h4>
                <h4 ng-show="!showSelectZone" style="text-align: center"> Ajout d'un nouveau appel dans {{mySelectedZone}} </h4>
            </div>
            <div class="modal-body">
                <div ng-show="showSelectZone" style="text-align: center">
                 <span>
                     <select ng-model="mySelectedZone" ng-options="zone for zone in zones" ng-checked="changeZone(mySelectedZone)">
                     <option value="">- - Choisir une zone - -</option>
                 </select>
                </span>
                    <div>
                        <button class="btn btn-success" ng-click="validateSelectedZone()"> Validate </button> <!-- validateAddCall() -->
                    </div>
                </div>
                <div ng-show="showSelectCallID" style="text-align: center">
                    <span> <select ng-model="mySelectedCallID" ng-options="element for element in  getCallIDFromResource(mySelectedZone)" ng-checked="setChoice(mySelectedCallID)">
                        <option value="">- - Choisir un ID d'appel - -</option>
                    </select>
                    </span>
                    <div>
                    <button class="btn btn-success" ng-click="validateSelectedCallID()"> Validate </button> <!-- validateAddCall() -->
                 </div>
                </div>
                <div ng-show="showAddNewCallForm">
                    <h3 style="text-align: center; color: green"> identifiant des appels  {{mySelectedCallID}}</h3>
                </div>

                <!-- start form -->
                <div ng-show="showAddNewCallForm">

                    <div>
                        <form name="formAdd" class="form-horizontal" ng-submit="validateAddNewCall({});">
                            <div class="control-group" ng-repeat="param in newCallParameters.params">           <!-- href="" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" -->
                                <label class="control-label"><h4>{{param.humanName}} <span tooltip-animation="true" tooltip="{{param.help}}" tooltip-placement="bottom"><a><i class="icon-question-sign"></i></a></span></h4></label>
                                <div class="controls" ng-switch="param.type">
                    <span ng-switch-when="STRING">
                    <input name="hello_" type="text" placeholder="Saisissez la valeur" ng-model="newCallValues[param.id]" required="">
                        <span class="error" ng-show="formAdd.hello_.$error.required"> Requis !</span>
                    </span>
                                    <!--<input  ng-switch-when="int" type="text" ng-model="humanNameValue" placeholder="Nom de l'appel"> -->
                    <span ng-switch-when="INT" ng-switch="param.typeCST">
                        <input name="paramInt" ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1" ng-model="newCallValues[param.id]" required="">
                        <input name="paramInt" ng-switch-when="NUMBER" type="number" min="0" step="1" ng-model="newCallValues[param.id]" required="">
                        <input name="paramInt" ng-switch-when="NONE" type="number" min="0" step="1" ng-model="newCallValues[param.id]" required="">
                          <span style="text-align: right" class="error" ng-show="formAdd.paramInt.$error.required"> Requis !</span>
                    </span>
                     <span ng-switch-when="LONG" ng-switch="param.typeCST">
                        <input name="paramLong" ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1" ng-model="newCallValues[param.id]" required="">
                        <input name="paramLong" ng-switch-when="NUMBER" type="number" step="1" ng-model="newCallValues[param.id]" required="">
                         <input name="paramLong" ng-switch-when="NONE" type="number" step="0.50" ng-model="newCallValues[param.id]" required="">
                         <span class="error" ng-show="formAdd.paramLong.$error.required"> Requis !</span>
                     </span>
                    <span ng-switch-when="DOUBLE" ng-switch="param.typeCST">
                        <input name="paramDouble" ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1" ng-model="newCallValues[param.id]" required="">
                        <input name="paramDouble" ng-switch-when="NUMBER" type="number" step="1" ng-model="newCallValues[param.id]" required="">
                         <input name="paramDouble" ng-switch-when="NONE" type="number" step="0.1" ng-model="newCallValues[param.id]" required="">
                        <span class="error" ng-show="formAdd.paramDouble.$error.required"> Requis !</span>
                    </span>
                    <select name="{{param.nameInDB}}" ng-switch-when="LIST" ng-model="myOption" ng-options="element for element in param.values" ng-checked="setOptionInNewCall(param.id, myOption)"></select>
                                    <!--<a id="help-{{param.id}}" rel="popover"><i class="icon-question-sign icon-2x"></i></a>
                                    <a rel="tooltip" tooltip="param.help"><i class="icon-question-sign"></i></a> -->
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <!-- end form -->
            </div>
            <div ng-show="showAddNewCallForm" class="modal-footer">
                <button class="btn btn-success" type="submit" ng-click="validateAddNewCall()"> <i class="icon-save"></i> Valider </button>
                <button class="btn btn-inverse" ng-click="cancelAddNewCall()"> <i class="icon-eraser"></i> Annuler </button>
            </div>
        </div>
    </div>


    <!-- Modal opened to edit Call -->
        <div modal="editCallModal" options="options">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelEditCall()">×</button>
                <h4 style="text-align: center">Modification d'un appel dans {{zone}} </h4>
            </div>

            <div class="modal-body">

                <!-- start form -->
                <div>
                    <h4 style="text-align: center"> identifiant des appels  {{mySelectedCallID}}</h4>

                    <div>
                        <form class="form-horizontal" ng-submit="validateEditCall({});">
                            <div class="control-group" ng-repeat="params in newCallParameters.params">
                            <label class="control-label"><h4>{{params.humanName}} <span tooltip-animation="true" tooltip="{{params.help}}" tooltip-placement="bottom"><a><i class="icon-question-sign"></i></a></span></h4></label>
                             <div class="controls" ng-switch="params.type">
                                <span ng-switch-when="STRING">
                                    <input type="text" size="80" placeholder="Saisissez la valeur" ng-model="newCallValues[params.id]" required="">
                                </span>

                                <span ng-switch-when="INT" ng-switch="params.typeCST">
                                    <span>{{newCallValues[params.id]}}</span>
                                    <input ng-model="newCallValues[params.id]" ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1">
                                     <input ng-model="newCallValues[params.id]" ng-switch-when="NUMBER" type="number" min="0" step="1">
                                     <input ng-model="newCallValues[params.id]" ng-switch-when="NONE" type="number" min="0" step="1">
                                </span>
                                <span ng-switch-when="LONG" ng-switch="params.typeCST">
                                    <input ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1" ng-model="newCallValues[params.id]">
                                    <input ng-switch-when="NUMBER" type="number" step="1" ng-model="newCallValues[params.id]">
                                    <input ng-switch-when="NONE" type="number" step="0.50" ng-model="newCallValues[params.id]">
                                </span>
                                <span ng-switch-when="DOUBLE" ng-switch="params.typeCST">
                                    <input ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1" ng-model="newCallValues[params.id]">
                                    <input ng-switch-when="NUMBER" type="number" step="1" ng-model="newCallValues[params.id]">
                                    <input ng-switch-when="NONE" type="number" step="0.1" ng-model="newCallValues[params.id]">
                                </span>
                                <select ng-switch-when="list" ng-model="myOption" ng-options="elemnt for elemnt in params.values" ng-checked="setOptionInNewCall(params.id, myOption)"></select>

                             </div>
                          </div>
                        </form>
                    </div>
                </div>

                <!-- end form -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit" ng-click="validateEditCall()"> <i class="icon-save"></i> Valider </button>
                <span class="error" ng-show="newCallValues.$error.required"> Requis !</span>
                <button class="btn btn-inverse" ng-click="cancelEditCall()"> <i class="icon-eraser"></i> Annuler </button>
            </div>
        </div>

</div>