<div>
    <div class="hero-unit" xmlns="http://www.w3.org/1999/html">
        <tabs></tabs>
        
        <p></p>
        <div style="text-align: center"><h3><b> Zone : '{{zone}}'</b></h3></div>

    </div>
    <div>
        <div>
            <table class="table table-bordered">
                <caption> <h3 style="text-align: center">Liste des appels de '{{zone}}'</h3>
                </caption>
                <tr>
                    <th> # </th>
                    <th> CAll ID </th>
                    <th> Source </th>
                    <th> Temps </th>
                    <th> Order </th>
                    <th></th>
                </tr>
                <tr ng-repeat="(callID, order) in mapOrder">
                    <td>{{order}}</td>
                    <td>{{callID}}</td>
                    <td>{{source}}</td>
                    <td> <a ng-click="showTimeEdition(call.callID)">{{mapTime[call.callID]}}</a></td>
                    <td><button class="btn btn-small" ng-click="sortDown(callID)"> <i class="icon-arrow-down"></i></button> <button class="btn btn-small" ng-click="sortUp(callID)"> <i class="icon-arrow-up"></i></button></td>
                    <td>
                        <span ng-show="showTime[callID]">
                            <input ng-model="mapTime[callID]" type="number" min="0" step="1">
                            </span><button ng-show="showTime[callID]" class="btn btn-small" ng-click="setTime(callID)">Valider </button>
                        
                   </td>
            </tr></table>
            
        </div>

    </div>

</div>