<table class="menu-source">
  <tr>
  	#foreach( $tab in $tabs )
    <td><g:link controller="$tab.controller" action="$tab.showAction">$tab.name</g:link></td>
    <td>|</td>
    #end
  </tr>
</table>
<br/>
<br/>
