#Zones- zoneName
#foreach( $provider in $providers )
${provider}        
#end

#Sources- sourceName;argName0==value;argName1==value;... 
#foreach( $source in $sources )
${source}        
#end

#Service Call parameters- parametersId;[param1=value,param2=value...];[param3=value,...]... 
#foreach( $parameters in $sourceParameters )
${parameters}        
#end

#Service calls- callId;sourceName;providerName;parametersId
#foreach( $serviceCall in $serviceCalls )
${serviceCall}        
#end