<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

        <title>YourCast</title>
        <script type="text/javascript" src="js/libs/prototype.js"></script>
        <script type="text/javascript" src="js/utils.js"></script>
        <script type="text/javascript" src="js/date.js"></script>
        <script type="text/javascript" src="js/controler.js"></script>

        $zoneScripts

        <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600' rel='stylesheet' type='text/css'/>

    </head>

    <body onload="$onLoadContent; init_date();">

        <div id="logo_universite">
            <img src="img/logo_universite.png"/>
        </div>

        <div id="date_time"></div>

        $layoutBody

        <div id="logo_loading">
            <div>
                <img id="loading_img" src="./img/yc_loading.gif" />
            </div>
        </div>

    </body>
</html>

