<div class="hero-unit" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <tabs></tabs>
</div>
<div>
    <h3 style="text-align: center; color: cornflowerblue"> {{zone}} callID :  {{callID}}</h3>
    <h3 style="text-align: center">Ajout d'un nouveau appel </h3>

    <div>
        <form class="form-horizontal">
            <div class="control-group" ng-repeat="param in newCallParameters.params">           <!-- href="" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" -->
                <label class="control-label"><h4>{{param.humanName}} <span tooltip-animation="true" tooltip="{{param.help}}" tooltip-placement="bottom"><a><i class="icon-question-sign"></i></a></span></h4></label>
                <div class="controls" ng-switch="param.type">
                    <span ng-switch-when="STRING">
                    <input type="text" placeholder="Saisissez la valeur" ng-model="[param.id]">
                    </span>
                    <!--<input  ng-switch-when="int" type="text" ng-model="humanNameValue" placeholder="Nom de l'appel"> -->
                    <span ng-switch-when="INT" ng-switch="param.typeCST">
                        <input ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1" ng-model="newCallValues[param.id]">
                        <input ng-switch-when="NUMBER" type="number" min="0" step="1" ng-model="newCallValues[param.id]">
                        <input ng-switch-when="NONE" type="number" min="0" step="1" ng-model="newCallValues[param.id]">
                    </span>
                     <span ng-switch-when="LONG" ng-switch="param.typeCST">
                        <input ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1" ng-model="newCallValues[param.id]">
                        <input ng-switch-when="NUMBER" type="number" step="1" ng-model="newCallValues[param.id]">
                         <input ng-switch-when="NONE" type="number" step="0.50" ng-model="newCallValues[param.id]">
                    </span>
                    <span ng-switch-when="DOUBLE" ng-switch="param.typeCST">
                        <input ng-switch-when="POSITIVE_NUMBER" type="number" min="0" step="1" ng-model="newCallValues[param.id]">
                        <input ng-switch-when="NUMBER" type="number" step="1" ng-model="newCallValues[param.id]">
                         <input ng-switch-when="NONE" type="number" step="0.1" ng-model="newCallValues[param.id]">
                    </span>
                    <select ng-switch-when="list" ng-model="myOption" ng-options="element for element in param.values" ng-checked="setOption(param.id, myOption)"></select>
                    <!--<a id="help-{{param.id}}" rel="popover"><i class="icon-question-sign icon-2x"></i></a>
                    <a rel="tooltip" tooltip="param.help"><i class="icon-question-sign"></i></a> -->
                </div>
            </div>
        </form>
        <button class="btn btn-success" type="submit" ng-click="validateAddNewCall()"> <i class="icon-save"></i> Valider </button>
        <button class="btn btn-inverse" ng-click="cancel()"> <i class="icon-eraser"></i> Annuler </button>
    </div>
</div>