<div>
    <div class="hero-unit" xmlns="http://www.w3.org/1999/html">
        <tabs></tabs>
        
        <p></p>
        <div style="text-align: center"><h3><b> Zone : '{{zone}}'</b></h3></div>

    </div>
    <div>
        <div>
            <table class="table table-bordered">
                <caption> <h3 style="text-align: center">Liste des appels de '{{zone}}'</h3>
                </caption>
                <tr>
                    <th> # </th>
                    <th> CAll ID </th>
                    <th> Source </th>
                    <th> Temps </th>
                    <th> Order </th>
                </tr>
                <tr ng-repeat="call in calls">
                    <td>{{getCallNumber(call)}}</td>
                    <td>{{call.callID}}</td>
                    <td>{{call.service.name}}</td>
                    <td></td>
                    <td></td>
            </tr></table>
            
        </div>

    </div>

</div>